<% layout('../layout') -%>
<div class="row">
  <div class="col-xs-12"><h2>Título</h2></div>
</div>
<hr>
<div class="row">
  <div class="col-sm-6 col-xs-12">
    <img src="http://lorempixel.com/output/technics-q-g-640-480-5.jpg" alt="Imágen del proyecto" />
  </div>
  <div class="col-sm-6 col-xs-12">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat consectetur nulla vel sagittis. Pellentesque vel velit velit. Nam ornare feugiat sapien, eget consequat massa convallis eu. Cras varius tellus enim, quis interdum libero tincidunt sed. Nullam commodo massa quis dignissim viverra. Aenean magna quam, fermentum id sapien et, sagittis pharetra lacus. Sed lobortis egestas purus, vitae faucibus lacus auctor vitae. Donec sed rutrum sapien. Pellentesque ullamcorper semper metus, pulvinar sollicitudin turpis consectetur quis. Nullam venenatis est a odio elementum, a interdum urna varius.</p>
    <a class="btn btn-primary btn-large" href="#"><i class="icon-info-sign"></i> Dime más</a>
  </div>
</div>
<hr height="3em">
<div class="row">
  <div class="col-sm-5 col-xs-12">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat consectetur nulla vel sagittis. Pellentesque vel velit velit. Nam ornare feugiat sapien, eget consequat massa convallis eu. Cras varius tellus enim, quis interdum libero tincidunt sed. Nullam commodo massa quis dignissim viverra. Aenean magna quam, fermentum id sapien et, sagittis pharetra lacus. Sed lobortis egestas purus, vitae faucibus lacus auctor vitae. Donec sed rutrum sapien. Pellentesque ullamcorper semper metus, pulvinar sollicitudin turpis consectetur quis. Nullam venenatis est a odio elementum, a interdum urna varius.</p>
    <img src="/images/get-it-on-google-play.png" alt="Consíguelo en Google Play" />
    <img src="/images/available-on-the-app-store.png" alt="Consíguelo en App Store" />
  </div>
  <div class="col-sm-7 col-xs-12">
    <canvas class="grafica" height="300"></canvas>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 col-lg-offset-9 col-md-offset-8 col-sm-offset-7 social">
    <div class="row">
      <div class="col-xs-4 social">
        <img src="/images/FB-f-Logo.png" alt="Facebook" />
      </div>
      <div class="col-xs-4 social">
        <img src="/images/new-g-plus-icon.png" alt="Google plus" />
      </div>
      <div class="col-xs-4 social">
        <img src="/images/twitter.png" alt="Twitter" />
      </div>
    </div>
    <div class="row"><h4>Síguenos en las redes sociales</h4></div>
  </div>
</div>